<div class="menuLateral">
<div class="row">
  <div class="col">
    <img class="img-fluid" src="../../assets/fullsize_2017_10_18_18_Logo-164750_473213_183910467_1287312692.jpg" alt="">
  </div>
</div>
<div class="row">
    <div class="col ">
        <ul class="nav flex-column">
            <li class="nav-item">
               <button class="btn btn-dark btn-block py-2 botoes pl-4" type="button">Perfil</button>
            </li>
            <li class="nav-item">
               <button class="btn btn-dark btn-block py-2 botoes pl-4" type="button">Usuarios</button>
            </li>
            <li class="nav-item">
               <button class="btn btn-danger btn-block py-2  pl-4 " (click)="fazerLogout()" type="button">Sair</button>
            </li>
         </ul>
    </div>
</div>
</div>