<div class="menuLateral">
<div class="row">
  <div class="col">
    <img class="img-fluid" src="../../assets/fullsize_2017_10_18_18_Logo-164750_473213_183910467_1287312692.jpg" alt="">
  </div>
</div>
<div class="row">
    <div class="col ">
        <ul class="nav flex-column">
            <li class="nav-item">
               <button class="btn btn-dark btn-block py-2 botoes pl-4" type="button">Inicio</button>
            </li>
            <li class="nav-item">
               <button class="btn btn-dark btn-block py-2 botoes pl-4" type="button">Teste 1</button>
            </li>
            <li class="nav-item">
               <button class="btn btn-dark btn-block py-2 botoes pl-4" type="button">Teste 2</button>
            </li>
            <li class="nav-item">
               <button class="btn btn-dark btn-block py-2 botoes pl-4" type="button">Feature </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-dark btn-block py-2 botoes pl-4" type="button">Configurações</button>
             </li>
           
         </ul>
    </div>
</div>
</div>