<ng-template #modalEditar>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Editar</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalService.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="Editar()">
        <div class="modal-body">
            <div class="row mt-4">
                <div class="col-md-6">
                    <input class="form-control py-4" type="text" formControlName="nome" placeholder="Seu nome ">
                </div>

                <div class="col-md-6">
                    <input class="form-control py-4" type="text" formControlName="email" placeholder="Seu email ">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success btn-block py-2" type="submit" [disabled]="form.invalid">Editar</button>
                </div>
            </div>
        </div>
    </form>

</ng-template>
<div class="row">
    <div class="col-md-12 p-5 telaUsuarios">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center">Usuarios</h1>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col tabela">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let usuario of usuarios;let i =index">
                                    <td>{{usuario.nome}}</td>
                                    <td>{{usuario.email}}</td>
                                    <td><button class="btn btn-warning  btn-block" (click)="AlterarSenha(usuario.id)">
                                            Alterar Senha</button></td>
                                    <td><button class="btn btn-success btn-block" (click)="AbrirModalEditar(usuario ,modalEditar)"> Editar</button>
                                    </td>
                                    <td><button class="btn btn-danger btn-block" (click)="AbrirAlertaRemoverUsuario(usuario.id,i)" > Remover</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>